.main-footer{  
     height: 200px;
     background-color: #232F3E;
     color: #fff;
     text-align: center;
     font-size: 15px;
     &__paragraph{
       
        margin-bottom: 20px;
    
     }
}