<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto Integrador - Contacto</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu2">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <img src="/public/img/Logo.png" alt="Electronic" class="nav-bar__logo">
        <li class="nav-bar__nav-item">
          <a href="../index.html" class="nav-bar__nav-link"> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg> Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg> Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/contacto.html" class="nav-bar__nav-link"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64H80V384H304V64z"/></svg> Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/nosotros.html" class="nav-bar__nav-link"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V83.8c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"/></svg> Nosotros</a>
        </li>
      </ul>
    </nav> 
    <div class="menu-toggle2">
      <label for="menu2" class="menu-toggle2__label">
        <img src="/public/img/Logo.png" alt="Electronic" class="nav-bar__logo">
      </label>
    </div>
  </div>
  </header>
  <form class="form" action="" method="get"><!-- formulario -->
    <fieldset class="primerfieldset">
      <legend class="primerfieldset__legend"><span>📱 D</span>ATOS DE <span>C</span>ONTACTO</legend>
        <label class="primerfieldset__elementobloque" for="nombre">Nombre Completo:*</label>
        <input class="primerfieldset__inputcajas" type="text" id="nombre" name="nombrecito" required><br>  
        <label class="primerfieldset__elementobloque" for="telefono">Teléfono:</label>
        <input class="primerfieldset__inputcajas" type="tel" id="telefono" name="telefonito" placeholder="Código de área y número"><br>
        <label class="primerfieldset__elementobloque" for="correo">Direccion de correo electrónico:*</label>
        <input class="primerfieldset__inputcajas" type="email" id="correo" name="correito" required placeholder="Ej:mail@gmail.com">
        <label class="primerfieldset__elementobloque" for="comentarios">Comentarios, contanos tu duda o problema de la manera más detallada posible.</label>
        <textarea class="primerfieldset__textarea" maxlength="350" id="comentarios" name="comentaritos"></textarea>
    </fieldset>
    <div class="contenedorbotones">
      <button class="contenedorbotones__btn1" type="submit">Enviar</button>
      <button class="contenedorbotones__btn2" type="reset">Cancelar</button>
    </div>
  </form>
  <footer class="main-footer">
    <p class="main-footer__paragraph"> Electronicweb.com Site: International - Español - Português - Deutsch - Français - Italiano - हिंदी - Pусский - 한국어 - 日本語 - اللغة العربية - ภาษาไทย - Türk - Nederlands - tiếng Việt - Indonesian - עברית </p>
    
    <p class="main-footer__paragraph"> Electronicweb.com.ar | Apple | Samsung | Sony  | Canon | Philips</p>
  
    <p class="main-footer__paragraph">Browse Alphabetically: Onetouch | Country Search | Affiliate</p>
  
    <p class="main-footer__paragraph"> Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - User Information Legal Enquiry Guide - Integrity Compliance</p>
  
    <p class="main-footer__paragraph">  © 1999-2023 Electronicweb.com. All rights reserved</p>
</footer>

  <script type="module" src="/main.js"></script>
</body>

</html>