<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Nosotros</title>
  </head>

  <body>
    <header class="main-header">
      <input type="checkbox" id="menu2" />

      <nav class="nav-bar">
        <!-- nav-bar -->
        <ul class="nav-bar__nav-list">
          <img
            src="/public/img/Logo.png"
            alt="Electronic"
            class="nav-bar__logo"
          />
          <li class="nav-bar__nav-item">
            <a href="../index.html" class="nav-bar__nav-link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 576 512"
              >
                <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
                />
              </svg>
              Inicio</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 448 512"
              >
                <path
                  d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                />
              </svg>
              Alta</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="contacto.html" class="nav-bar__nav-link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 384 512"
              >
                <path
                  d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64H80V384H304V64z"
                />
              </svg>
              Contacto</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 576 512"
              >
                <path
                  d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V83.8c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"
                />
              </svg>
              Nosotros</a
            >
          </li>
        </ul>
      </nav>
      <!-- nav-bar -->
      <div class="menu-toggle2">
        <label for="menu2" class="menu-toggle2__label">
          <img
            src="/public/img/Logo.png"
            alt="Electronic"
            class="nav-bar__logo"
          />
        </label>
      </div>
    </header>
    <main>
      <div class="imagen-conteiner">
        <img
          class="imagen-conteiner__heading"
          src="/public/img/nosotros.jpeg"
          alt="cabecera"
        />
      </div>
      <section class="section-nosotros">
        <h1 class="titulo">Acerca de Electronic Web</h1>
        <div class="bloque-conteiner">
          <h2 class="bloque-conteiner__heading">Nosotros</h2>
          <div class="bloque-conteiner__description">
            <p>
              Desde su humilde inicio en el mundo digital, "Electronic Web" ha
              trazado un apasionante viaje en el emocionante universo del
              comercio electrónico. Fundada en 1999, nuestra empresa se erige
              como un pionero en la convergencia de la tecnología y el comercio,
              proporcionando a los consumidores una experiencia de compra en
              línea que redefine los límites de la conveniencia y la innovación.
            </p>
            <p>
              Lo que comenzó como un pequeño equipo de entusiastas tecnológicos
              con una visión compartida, pronto se transformó en un líder
              reconocido en el mercado del e-commerce. A lo largo de los años,
              "Electronic Web" ha mantenido un compromiso constante con la
              calidad, la diversidad de productos y la satisfacción del cliente,
              construyendo relaciones sólidas basadas en la confianza y la
              excelencia. Nuestro catálogo en línea abarca desde dispositivos
              electrónicos de vanguardia hasta accesorios de estilo de vida,
              ofreciendo a nuestros clientes una amplia gama de opciones
              cuidadosamente curadas.
            </p>
            <p>
              Guiados por la pasión por la innovación, hemos superado desafíos y
              abrazado oportunidades en constante evolución en el mundo del
              e-commerce. La dedicación a adoptar tecnologías emergentes y
              estrategias de comercio electrónico de vanguardia ha sido la
              columna vertebral de nuestro crecimiento sostenible. A medida que
              miramos hacia el futuro, nos esforzamos por mantenernos a la
              vanguardia de las tendencias cambiantes y seguir proporcionando a
              nuestros clientes una experiencia de compra en línea que sea
              fluida, segura y gratificante.
            </p>
            <p>
              En "Electronic Web", no solo nos enorgullece nuestra amplia gama
              de productos y servicios, sino también el compromiso constante con
              nuestros valores fundamentales: la excelencia en el servicio al
              cliente, la innovación continua y la integridad en todas nuestras
              operaciones. A medida que continuamos navegando por el emocionante
              viaje del comercio electrónico, extendemos nuestra gratitud a
              nuestros valiosos clientes y socios que han sido parte integral de
              nuestra historia de éxito. ¡Bienvenidos a la experiencia
              "Electronic Web", donde la tecnología y el comercio se unen de
              manera armoniosa para brindar un mundo de posibilidades en línea!
            </p>
          </div>
        </div>
        <div class="bloque-conteiner">
          <h2 class="bloque-conteiner__heading">Innovación</h2>
          <div class="bloque-conteiner__description">
            <p>
              En "Electronic Web", nuestra búsqueda constante de la innovación
              redefine la experiencia de compra en línea a través de
              características únicas que nos distinguen en el mercado del
              comercio electrónico. Nuestra plataforma se enorgullece de ofrecer
              una navegación intuitiva y personalizada, respaldada por
              algoritmos avanzados de recomendación. Mediante el análisis
              profundo de las preferencias del cliente, nuestra aplicación y
              sitio web adaptan dinámicamente las sugerencias de productos,
              asegurando que cada visita sea una experiencia relevante y
              atractiva.
            </p>
            <p>
              La integración de la realidad aumentada (RA) es otra de nuestras
              joyas tecnológicas. Mediante esta innovadora funcionalidad, los
              usuarios pueden visualizar productos en un entorno realista antes
              de la compra, eliminando las dudas sobre el aspecto y el ajuste.
              Desde muebles hasta dispositivos electrónicos, nuestra aplicación
              permite a los clientes tomar decisiones informadas al interactuar
              virtualmente con los productos, llevando la experiencia de compra
              en línea a un nivel completamente nuevo.
            </p>
            <p>
              "Electronic Web" también ha liderado el camino en la
              implementación de un sistema de atención al cliente basado en
              inteligencia artificial (IA). Nuestro asistente virtual, dotado de
              capacidades de comprensión del lenguaje natural y conocimiento
              detallado de nuestros productos, brinda respuestas instantáneas a
              consultas y solicitudes, las 24 horas del día. Esta innovación no
              solo agiliza el proceso de resolución de problemas, sino que
              también asegura que nuestros clientes siempre reciban la
              asistencia que necesitan.
            </p>
            <p>
              Una característica distintiva de nuestra plataforma es la "Compra
              Social", que fusiona las redes sociales con las compras en línea.
              Los usuarios pueden compartir sus selecciones y opiniones sobre
              los productos directamente desde nuestra aplicación, permitiendo a
              sus seguidores participar en el proceso de toma de decisiones.
              Esta interacción enriquecedora no solo fortalece la comunidad de
              compradores, sino que también crea un ambiente colaborativo donde
              las recomendaciones se vuelven más confiables y auténticas.
            </p>
            <p>
              Por último, "Electronic Web" está a la vanguardia de la seguridad
              cibernética en el comercio electrónico. Implementamos medidas de
              protección avanzadas, como el reconocimiento biométrico y la
              autenticación de dos factores, para garantizar la seguridad de los
              datos del cliente y las transacciones. Nuestra dedicación a la
              privacidad y seguridad cibernética brinda a nuestros clientes la
              tranquilidad necesaria para disfrutar plenamente de la experiencia
              de compra en línea sin preocupaciones.
            </p>
            <p>
              En "Electronic Web", la innovación es una pasión que impulsa cada
              aspecto de nuestra plataforma. Estamos comprometidos a liderar el
              camino en la creación de soluciones tecnológicas que transforman
              la forma en que las personas compran en línea, brindando un valor
              inigualable y una experiencia sin igual a nuestros clientes en
              cada paso del camino.
            </p>
          </div>
          <div class="bloque-conteiner__imagen">
            <img
              class="bloque-conteiner__imagen-img"
              src="/public/img/innovacion2.jpeg"
              alt="innovacion1"
            />
            <img
              class="bloque-conteiner__imagen-img"
              src="/public/img/innovacion-social.jpeg"
              alt="innovacion2"
            />
          </div>
        </div>
        <div class="bloque-conteiner">
          <h2 class="bloque-conteiner__heading">Sustentabilidad</h2>
          <div class="bloque-conteiner__description">
            <p>
              En "Electronic Web", creemos en nuestra responsabilidad compartida
              hacia el planeta y estamos comprometidos con la sostenibilidad en
              cada paso de nuestro viaje. Reconociendo los desafíos ambientales
              que enfrentamos, hemos adoptado un enfoque integral para minimizar
              nuestro impacto ambiental y promover prácticas de comercio
              electrónico sustentable. Nuestro compromiso con la reducción de la
              huella de carbono nos ha llevado a implementar iniciativas que
              fomentan la eficiencia energética en todas nuestras operaciones,
              desde centros de datos hasta logística.
            </p>
            <p>
              En el corazón de nuestra misión de sostenibilidad se encuentra
              nuestro programa de envíos ecológicos. Trabajamos con proveedores
              de logística que están comprometidos con prácticas de transporte
              eficientes y bajas emisiones, reduciendo la huella de carbono
              asociada con la entrega de productos a nuestros clientes en toda
              Argentina y el mundo. Además, estamos orgullosos de ofrecer
              opciones de envío consolidado, que permiten a los clientes recibir
              sus pedidos en un solo paquete, reduciendo aún más el consumo de
              recursos y la generación de residuos.
            </p>
            <p>
              A nivel local, colaboramos con organizaciones dedicadas a la
              reforestación y la conservación de la biodiversidad en Argentina.
              A través de asociaciones estratégicas, contribuimos a la
              plantación de árboles nativos y a la restauración de ecosistemas
              naturales, fortaleciendo así la salud del medio ambiente en
              nuestras comunidades. A nivel mundial, apoyamos proyectos que
              promueven la energía renovable y la gestión responsable de
              recursos, contribuyendo a la lucha global contra el cambio
              climático.
            </p>
            <p>
              Nuestro compromiso con la sostenibilidad no se detiene en las
              operaciones internas. También fomentamos una cultura de conciencia
              ambiental entre nuestros clientes al brindar información sobre
              prácticas de consumo responsables y la importancia de tomar
              decisiones conscientes al comprar en línea. A través de nuestro
              sitio web y aplicaciones, proporcionamos consejos y recursos que
              empoderan a los consumidores para hacer elecciones informadas y
              amigables con el medio ambiente.
            </p>
            <p>
              En "Electronic Web", estamos decididos a ser líderes en la
              industria en términos de sostenibilidad. Nuestra visión es
              establecer un estándar para el comercio electrónico sustentable,
              tanto en Argentina como en todo el mundo. Creemos que al unir
              fuerzas con nuestros clientes, socios y comunidades, podemos
              marcar una diferencia significativa en la preservación del planeta
              para las generaciones futuras. Juntos, estamos creando un camino
              hacia un futuro más verde y próspero.
            </p>
          </div>
          <div class="bloque-conteiner__imagen">
            <img
              id="innovacion1"
              class="bloque-conteiner__imagen-img"
              src="/public/img/planta.jpeg"
              alt="innovacion1"
            />
            <img
              class="bloque-conteiner__imagen-img"
              src="/public/img/paisaje.jpeg"
              alt="innovacion2"
            />
          </div>
        </div>
      </section>
    </main>
    <footer class="main-footer">
      <p class="main-footer__paragraph">
        Electronicweb.com Site: International - Español - Português - Deutsch -
        Français - Italiano - हिंदी - Pусский - 한국어 - 日本語 - اللغة العربية
        - ภาษาไทย - Türk - Nederlands - tiếng Việt - Indonesian - עברית
      </p>

      <p class="main-footer__paragraph">
        Electronicweb.com.ar | Apple | Samsung | Sony | Canon | Philips
      </p>

      <p class="main-footer__paragraph">
        Browse Alphabetically: Onetouch | Country Search | Affiliate
      </p>

      <p class="main-footer__paragraph">
        Product Listing Policy - Intellectual Property Protection - Privacy
        Policy - Terms of Use - User Information Legal Enquiry Guide - Integrity
        Compliance
      </p>

      <p class="main-footer__paragraph">
        © 1999-2023 Electronicweb.com. All rights reserved
      </p>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
