@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto+Condensed:wght@400;700&display=swap');
body {
  font-family: 'Bakbak One', cursive, sans-serif;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
