.section-cards{
  background-color: #F2E3CB;
  padding-bottom: 50px;
   padding-top:150px ;
  
  &__header{
    font-size: 30px;
    color: #232F3E;
    margin-bottom: 15px;  
    padding-left: 80px;
  }
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
